.recipe-wraper{
  display: flex;
  margin: 10px 0;
  padding-left: 3%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: rgba(0, 0, 0, 0.699) 1px solid;
  border-radius: 10px;
  box-shadow: -3px 3px 2px 1px black;
}

.recipe-image{
  margin: 5px 10px 5px 0;
  width: 64px;
  height: 64px;
  border-radius: 50px;
}

.recipe-title-wraper{
  position: relative;
  top: 3vh;
  left: 3vw;
  margin-bottom: 5vh;
  flex-wrap: wrap;
  width: 30vw;
  align-items: center;
  justify-content: space-between;
}

#recipes-list{
  padding-left: 3vw;
  width: 100%;
  min-width: 180px;
  max-width: 600px;
}