.recipe-wraper{
  display: inline-block;
  margin: 10px 10px;
  width: auto;
  align-items: center;
  padding: 0 3%;
  border: #8f8f80 1px solid;
  background-color: #b7b7a4;
}

.recipe-image{
  margin: 5px 10px 5px 0;
  width: 64px;
  height: 64px;
  border-radius: 50px;
}

.recipe-title-wraper{
  margin: 25px auto;
  flex-wrap: wrap;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.recipe{
  margin: 0 0;
}

#recipes-list{
  margin: 0 auto;
  width: max-content;
  min-width: 180px;
}

#add-recipe-button{
  margin-left: 25px;
}

@media screen and (max-width: 900px){
  .recipe-image{
    display: none;
    margin: 5px 10px 5px 0;
    width: 64px;
    height: 64px;
    border-radius: 50px;
  }
}