.recipe-wraper{
  display: flex;
  margin: 10px auto;
  width: 50%;
  padding-left: 3%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: rgba(0, 0, 0, 0.699) 1px solid;
  border-radius: 10px;
  box-shadow: -3px 3px 2px 1px black;
}

.recipe-image{
  margin: 5px 10px 5px 0;
  width: 64px;
  height: 64px;
  border-radius: 50px;
}

.recipe-title-wraper{
  margin: 25px auto;
  flex-wrap: wrap;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

#recipes-list{
  padding-left: 3vw;
  width: 100vw;
  min-width: 180px;
}

#add-recipe-button{
  margin-left: 25px;
}

@media screen and (max-width: 900px){
  .recipe-image{
    display: none;
    margin: 5px 10px 5px 0;
    width: 64px;
    height: 64px;
    border-radius: 50px;
  }
}