@font-face {
  font-family: 'merienda';
  src: url('fonts/sora/sora-variablefont_wght-webfont.woff2') format('woff2'),
       url('fonts/sora/sora-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.center-form{
  width: 30%;
  min-width: 500px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.center-text{
  text-align: center;
}

.center-div{
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.menu-items:hover{
  color: #a4161a;
}

.blink{
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

.hide{
  opacity: 0%;
}

.title{
  font-family: 'merienda', Arial, Helvetica, sans-serif;
}

.delete-button{
  display: inline;
  font-size: 0.95rem;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-right: 10px;
}

.inline-flex{
  display: flex;
  width: max-content;
}

.vertical-center-span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.ingredient{
  border: none;
}

#recipe{
  opacity: 0;
}

#add-ingredient-button{
  height: 30px;
  font-size: 0.95rem;
  text-align: center;
  line-height: 1rem;
}

#register-btn{
  color: #000000;
  background-color: #6b705c;
  border-color: #6b705c;
  font-weight: bold;
}

#register-btn:hover{
  box-shadow: 0 3px 10px grey;
}

#login-btn:hover{
  box-shadow: 0 3px 10px grey;
}

#blinker{
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
}

#banner-text{
  position: relative;
  top: 7px;
  left: 15px;
}

#recipe-name{
  border: none;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#ingredients-box{
  display: flex;
  flex-flow: column;
  justify-items: flex-start;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#ingredients-box:hover{
  cursor: default;
  resize: none;
}

#blink-container{
  position: relative;
  overflow: hidden;
}

#save-button{
  width: 150px;
}

#buttons-container{
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5vh;
  width: 30vw;
  max-width: 450px;
}

