@font-face {
  font-family: 'merienda';
  src: url('fonts/sora/sora-variablefont_wght-webfont.woff2') format('woff2'),
       url('fonts/sora/sora-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
.loged_user_button{
  background-image: url("/static/images/user.png");
  background-repeat: no-repeat;
  background-size: 48px;
  background-position: center;
  height: 64px;
  width: 64px;
  border: 0;
  background-color: transparent;
  z-index: 1;
}

.center-form{
  width: 30%;
  min-width: 500px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.center-text{
  text-align: center;
}

.center-div{
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.wraper{
  display: inline-flex;
  width: 180px;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.menu-items:hover{
  color: #a4161a;
}

.primary-bg{
  background-color: #b7b7a4;
}

.text-color{
  color: #0D0D0D;
}

.blink{
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

.hide{
  opacity: 0%;
}

.title{
  font-family: 'merienda', Arial, Helvetica, sans-serif;
}

.delete-button{
  display: inline;
  font-size: 0.95rem;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-right: 10px;
}

.inline-flex{
  display: flex;
  width: max-content;
}

.vertical-center-span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#add-ingredient-button{
  height: 30px;
  font-size: 0.95rem;
  text-align: center;
  line-height: 1rem;
}

#login-btn{
  color: whitesmoke;
  background-color: #a4161a;
  border-color: #a4161a;
  font-weight: bold;
}

#register-btn{
  color: #000000;
  background-color: #6b705c;
  border-color: #6b705c;
  font-weight: bold;
}

#register-btn:hover{
  box-shadow: 0 3px 10px grey;
}

#login-btn:hover{
  box-shadow: 0 3px 10px grey;
}

#dark-border{
  border-color: rgb(95, 95, 95);
}

#user-banner{
  position: relative;
  text-align: left;
  width: 120px;
  background-color: #00AFB9;
  border: solid 2px #00AFB9;
  border-radius: 60px;
  margin-right: -50px;
  z-index: 0;
}

#blinker{
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
}

#banner-text{
  position: relative;
  top: 7px;
  left: 15px;
}

#recipe-name{
  border: none;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#ingredients-box{
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#ingredients-box:hover{
  cursor: default;
  resize: none;
}

#blink-container{
  position: relative;
  overflow: hidden;
}

#save-button{
  margin-bottom: 10vh;
}

