<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="description" content="Menu maker web app">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class=flashes>
        {% for category, message in messages %}
          <p class="no-margin {{ category }}">{{ message }}</p>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block style %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar navbar-light primary-bg">
      <a class="navbar-brand" href="/">
        <span class="text-color">
          Menu Maker
        </span>
      </a>
      <button class="navbar-toggler" id="dark-border" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="ollapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item menu-items">
            <a class="nav-link" href="/recipes">
              <span class="text-color">
                Your recipes
              </span>
            </a>
          </li>
          <li class="nav-item menu-items" style="margin-right: auto;">
            <a class="text-color nav-link" href="/menus">
              <span class="text-color">
                Your menus
              </span>
            </a>
          </li>
        </ul>
        {% if not current_user.is_authenticated %}
        <div class="wraper">
          <form action="/login">
            <button class="text-color btn btn-primary" id="login-btn">
              Log In
            </button>
          </form>
          <form action="/register">
            <button class="text-color btn btn-secondary" id="register-btn">
              Register
            </button>
          </form>
        </div>
        {% else %}
          <form action="/logout">
            <button class="text-color" id="user-banner">
                Log Out
            </button>
            <button class="loged_user_button">
            </button>
          </form>
        {% endif %}
      </div>
    </nav>
    {% block content %}
    
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>