{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
  <div class="center-div" id="main_container">
    <h1 class="title">
      Create a new recipe
    </h1>
    <form class="h2">
      <div id="blink-container">
        <input type="text" id="recipe-name" name="recipe-name"
        onfocus="this.placeholder = ''" 
        onblur="this.placeholder = 'Write here your recipe\'s name'"
        placeholder="Write here your recipe's name" size="25"> 
      </div>
    </form>
    <h2>
      Add a new ingredient
    </h2>
    <div class="wraper inline-flex">
      <form>
        <input type="text" id="quantity" name="quantity" 
        placeholder="6" size="3">
        <input type="text" id="ingredient" name="ingredient" placeholder="tomatoes" 
        pattern="[A-Za-z]*">
        <button type="button" class="btn btn-info" id="add-ingredient-button" onclick="addIngredient()">
          Add
        </button>
      </form>
    </div>
    <br>
    <form action="/new_recipe" method="POST" id="ingredients-box" onsubmit="return addRecipeName()"
      enctype=multipart/form-data>
      <div class="wraper" id="buttons-container">
      </div>
    </form>
  </div>
  <script src="{{url_for('static', filename = '/scripts/addIngredient.js')}}"></script>
{% endblock %}