{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipes.css') }}">
{% endblock %}

{% block content %}
  <div class="recipe-title-wraper wraper">
    <h1 class="title">
      Your recipes
    </h1>
    <form action="/new_recipe">
      <button type="submit" class="btn btn-info">
        Add new recipe
      </button>
    </form>
  </div>
  {% if recipes %}
    <div id="recipes-list">
    {% for recipe, ingredients in recipes.items() %}
      <div class="recipe-wraper">
        <img class="recipe-image" src="{{url_for('static', filename = recipe_images[loop.index0][0])}}" alt="Placeholder">
        <p class="h2">
          {{ recipe }}
        </p>
      </div>
    {% endfor %}
    </div>
  {% endif %}
  <!-- <script src="{{url_for('static', filename = '/scripts/listRecipes.js')}}"></script> -->
{% endblock %}