{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipes.css') }}">
{% endblock %}

{% block content %}
  <div class="recipe-title-wraper wraper">
    <h1 class="title">
      Your recipes
    </h1>
    <form action="/new_recipe">
      <button type="submit" class="btn btn-info" id="add-recipe-button">
        Add new recipe
      </button>
    </form>
  </div>

  {% if recipes and current_user.is_authenticated %}
    <div id="recipes-list">
    {% for recipe in recipes %}
      <div class="recipe-wraper">
        <p class="h2">
          {{ recipe }}
        </p>
      </div>
    {% endfor %}
    </div>
  {% elif session['recipes'] %}
    <div id="recipes-list">
      <ul>
        {% for recipe in session['recipes'] %}
            <li class="recipe h2">
              {{ recipe['name'] }}
            </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

{% endblock %}